{% import 'macros/titles.twig' as title %}

<section class="arrows-cta {{ block.background_color }}">
  <div class="constrict">
    <div class="arrows-cta-container">
      <div class="arrows-cta-block">
        <div class="arrows-cta-text">
          {{ title.main(block.title, '', true) }}
          {% include 'partial/wysiwyg.twig' with { text: block.text } %}
        </div>
        <div class="arrows-cta-links">
          {% for link in block.links %}
            <div class="arrows-cta-link">
              <a href="{{ link.url }}" target="_self">{{ link.link.title }} <span class="shortcode">&#8594;</span></a>
            </div>
          {% if link.description %}
                <p>{{ link.description }}</p>
              {% endif %}
            <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


