{% import 'macros/titles.twig' as title %}

<section class="customervideo_block {{block.background}}">
  <div class="constrict">
    <div class="customervideo_content">
      <div class="customervideo_title">{{ title.main(block.title, '', true) }}</div>
      <div class="customervideo_intertitle">{{ block.intertitle }}</div>
    </div>
    <?php if ($video = get_field('video')): ?>
  <div class="customervideo_video">
    <video src="<?php echo $video['url']; ?>" controls></video>
  </div>
<?php endif; ?>

  <div class="customervideo_cta">
  <a class="underline {{block.link.color}}" href="{{ block.link.url }}" target="{{ block.link.url.target }}">{{ block.link.label }}</a>&nbsp;{{ block.link.text }}
</div>

  </div>
</section>