{% import 'macros/titles.twig' as title %}

<section class="partners">
  <div class="constrict">

   <div {% if block.centered_title %}style="text-align: center"{% endif %}>
      {{ title.main(block.title, '', true, block.centered_title ? 'text-center' : '') }}     
      {{ block.subtitle }}
    </div>
   
    <div class="partners_wrapper">
      <div class="partners_slider">
        {% for image in block.gallery %}
        <div class="partners_slide">
          <img src="{{ image.url }}" alt="{{ image.alt }}" />
        </div>
        {% endfor %}
      </div>
    </div>
    {% if block.button is not empty %}
    <div class="solutionsBtn">
    <a href="{{ block.button.url }}" class="btn black">{{ block.button.title }}</a>
    </div>
    {% endif %}
  </div>
</section>

<script>

const partnersSlider = document.querySelector('.partners_slider');
const partnersSlides = document.querySelectorAll('.partners_slide');
const slideCount = partnersSlides.length;
const slideWidth = partnersSlides[0].clientWidth;

let x = 0;
let frame = null;

function animate() {
  x--;
  if (x <= -slideWidth * (slideCount - 1)) {
    x = 50;
  }
  partnersSlider.style.transform = `translateX(${x}px)`;
  frame = window.requestAnimationFrame(animate);
}

animate();

partnersSlider.addEventListener('mouseover', () => {
  window.cancelAnimationFrame(frame);
});

partnersSlider.addEventListener('mouseout', () => {
  animate();
});


</script>
