{% import 'macros/titles.twig' as title %}

<footer id="footer">
  <div class="constrict">
    <div class="footer-main-menu">

     <div class="logo">
      <div>
        {% if custom_logo_url %}
          <a class="hdr-logo-link logo-footer" href="{{site.url}}" rel="home">
            <img src="{{ custom_logo_url }}" class="logo-footer" alt="{{ site.name }}" width="185px" />
          </a> 
        {% else %}
          <a class="hdr-logo-link logo-footer" href="{{site.url}}" rel="home">
            {{ site.name }}
          </a>
        {% endif %}
        {% include "partial/wysiwyg.twig" with {'text': contact_cta } %}
      </div>
    </div>
    <div class="kantoren">
        <h3>Offices</h3>
        {% include "partial/wysiwyg.twig" with {'text': offices } %}
    </div>
    <div>
      <div class="insights">
        <h3>Insights</h3>
        {% include "partial/menu.twig" with {'menu': insights_menu, 'items': insights_menu.get_items, 'class': 'insights-menu'} %}
      </div>
      <div class="general">
        <h3>General</h3>
        {% include "partial/menu.twig" with {'menu': general_menu, 'items': general_menu.get_items, 'class': 'general-menu'} %}
      </div>
    </div>
    <div>
      <div class="about">
        <h3>About us</h3>
        {% include "partial/menu.twig" with {'menu': about_menu, 'items': about_menu.get_items, 'class': 'about-menu'} %}
      </div>
      <div class="services">
        <h3>What we do</h3>
        {% include "partial/menu.twig" with {'menu': services_menu, 'items': services_menu.get_items, 'class': 'services-menu'} %}
      </div>
    </div>

      <div class="contact">
        <h3>Contact</h3>
        {% include "partial/wysiwyg.twig" with {'text': contact_info } %}
      {% if socials %}
          <ul>
            {% for social in socials %}
              <li>
                <a href="{{social.link.url}}" target="{{social.link.target}}">{{social.link.title}}</a>
              </li>
            {% endfor %}
          </ul>
      {% endif %}
    </div>
    </div>

    <div class="footer-sub-menu">
      <div class="part-of">
        {% include "partial/wysiwyg.twig" with {'text': part_of } %}
      </div>
      <div>
        <p class="splitter">|</p>
      </div>
      <div>
      <a href="/privacy-policy" target="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
</footer>
