{% import 'macros/titles.twig' as title %}

<footer id="footer">
  <div class="constrict">
    <div class="footer-main-menu">
      <div class="contact">
        <h3>Contact</h3>
        {% include "partial/wysiwyg.twig" with {'text': contact_info } %}
      </div>
      <div class="footer-menu">
        <h3>General</h3>
        {% include "partial/menu.twig" with {'menu': footer_menu, 'items': footer_menu.get_items, 'class': 'footer-menu'} %}
      </div>
      {% if socials %}
        <div class="socials">
          <h3>Follow us</h3>
          <ul>
            {% for social in socials %}
              <li>
                <a href="{{social.link.url}}" target="{{social.link.target}}">{{social.link.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="footer-sub-menu">
      <div class="hdr-logo" role="banner">
        <a class="hdr-logo-link" href="{{site.url}}" rel="home">
          <span class="site-name">{{site.name}}</span>
          <span class="logo"></span>
        </a>
      </div>
      <p class="tagline">{{tagline}}</p>
      <div class="part-of">
        {% include "partial/wysiwyg.twig" with {'text': part_of } %}
      </div>
    </div>
  </div>
</footer>
