<form role="search" method="get" class="search-form" action="{{ site.url }}">
    <label>
        <span class="screen-reader-text">{{ __('Search for:', 'your-theme-text-domain') }}</span>
        <input type="search" class="search-field" placeholder="{{ __('Search...', 'your-theme-text-domain') }}" value="{{ get_search_query() }}" name="s" />
    </label>
    <button type="submit" class="search-submit">{{ __('Search', 'your-theme-text-domain') }}</button>
</form>
